<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Code Fellowship</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header th:fragment="header">
  <div class="header">
    <h1>codeFellowShip</h1>
    <a th:href="@{/logout}">logout</a>
    <a th:href="@{/feed}">Feed</a>
    <a th:href="'/user/' + ${user.id}">profile</a>
    <a th:href="@{/}">Home</a>
  </div>
</header>

</body>
</html>