<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<main>
    <div class="profile_info">

        <div id="profile">
            <h1 class="page">profile page</h1>
            <img th:src="@{/image/profileImage.jpg}" alt=""/>
            <h2 th:text="'Hello ' + ${user.firstName} + ' ' + ${user.lastName}"></h2>
            <h2 th:text="'Bio  :' + ${user.bio}"></h2>
            <h2 th:text="'Date of Birth :' + ${user.dateOfBirth}"></h2>
        </div>
        <div class="profile_post">
            <section>
                <h3 th:text="${user.getUsername()+' posts'}"></h3>

                <div th:each="post :${user.posts}">
                    <h5 th:text="${post.createdAt}"></h5>
                    <p th:text="${post.body}"></p>
                </div>
            </section>
        </div>
    </div>

</main>

</body>
</html>